footer {
  background-color: $blue-color;
  color: white;
  padding: 40px 10px;

  .logo {
    color: $gold-color;
    display: flex;
    align-items: center;
    color: $gold-color;
    font-weight: 700;
    font-size: 1.8rem;
    .page-name {
      margin-right: 10px;
    }
  }
  .info {
    font-size: 1.3rem;
    padding: 16px 0;
  }
  .details {
    font-size: 1.25rem;
    margin-bottom: 17px;
    span {
      margin-right: 5px;
    }
  }
  @media (max-width: 992px) {
    .info {
      font-size: 1.1rem;
    }
    .DetailsCard {
      margin-top: 40px;
    }
    .details {
      font-size: 1.1rem;
    }
  }
}
